@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme1: #399ad0;
  --theme2: #1279cd;
  --theme3: #0e64b2;
  --theme4: #1b4d70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-theme1: var(--theme1);
  --color-theme2: var(--theme2);
  --color-theme3: var(--theme3);
  --color-theme4: var(--theme4);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* Firefox */
.scrollbar-slate {
  scrollbar-width: thin;
  scrollbar-color: rgb(241 245 249) transparent; /* slate-100 */
}

/* WebKit (Chrome, Edge, Safari) */
.scrollbar-slate::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-slate::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-slate::-webkit-scrollbar-thumb {
  background-color: rgb(241 245 249); /* slate-100 */
  border-radius: 9999px;
}
