@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme1: #399ad0;
  --theme2: #1279cd;
  --theme3: #0e64b2;
  --theme4: #1b4d70;
  --theme1-rgb: 57, 154, 208;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-theme1: var(--theme1);
  --color-theme2: var(--theme2);
  --color-theme3: var(--theme3);
  --color-theme4: var(--theme4);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--theme1-rgb), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(var(--theme1-rgb), 0.1);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  border: 0.2rem solid var(--theme4);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--theme4);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: background-color 0.3s ease;
}

.embla__button:hover {
  background-color: rgba(var(--theme1-rgb), 0.5);
}

.embla__button--disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: calc((2.6rem - 1.4rem) / 2 * -1); */
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--theme1-rgb), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.embla__dot:before,
.embla__dot:after {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(var(--theme1-rgb), 0.5);
  content: "";
}

.embla__dot:before {
  border: 0.2rem solid var(--theme4);
}

.embla__dot:after {
  border: 0.2rem solid var(--theme1);
  opacity: 0;
}

.embla__dot--selected:after {
  opacity: 1;
  background-color: var(--theme4);
}

.embla__slide__img {
  user-select: none;
}

/* Firefox */
.scrollbar-slate {
  scrollbar-width: thin;
  scrollbar-color: rgb(241 245 249) transparent; /* slate-100 */
}

/* WebKit (Chrome, Edge, Safari) */
.scrollbar-slate::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-slate::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-slate::-webkit-scrollbar-thumb {
  background-color: rgb(241 245 249); /* slate-100 */
  border-radius: 9999px;
}
